*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
   
}


.rounded-image{
    width: 20%;
    height: 20%;
   
}
/* userform.css */
.carousel-item img {
    max-height: 630px;
    object-fit: cover;
}
.color{
    color: rgb(0, 123, 255);
}
.form-title{
    color: rgb(0, 102, 255);
}